<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>My recipe list</title>
</head>
<body>
<h1>Recipe!!</h1>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>My recipe list</title>
</head>
<body>
<table>
	<tr>
		<th>Recipe Title</th>
		<th>Recipe</th>
	</tr>
	<tr th:each="recipe : ${recipeList}">
		<td th:text="${recipe.id}"></td>
		<td th:text="${recipe.description}"></td>
	</tr>
</table>
</body>
</html>
</body>
</html>